/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --title-color: #db00ff;
  --title-decor-color: var(--bg-color);
  --text-color: 241, 178, 206;
  --accent-color: 255, 0, 112;
  --cover-image: url("../images/cover-image-dark.png");
}
